@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* background */

html {
  height:100%;
}

body {
  margin:0;
}

.area{
  background: #ffffff;  
  background: -webkit-linear-gradient(to left, #8f94fb, #202ae9);  
  width: 100%;
  height:90vh;
  position: absolute;
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(179, 179, 179, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.red {
  color: red;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

::selection {
  color: white;
  background: red;
}

.wrapper {
  margin: 3em;
}

.topnav {
  display: flex;
  height: 4em;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  overflow: hidden;
}

.topnav a {
  display: flex;
  color: red;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  right: 3em;
}

.topnav a:hover {
  background: rgba(0, 0, 0, 0.03);
  color: black;
}

.logo {
  position: absolute;
  margin-top: -55px;
  margin-left: 35px;
  z-index: 99;
  position: fixed;
}

.logo img {
  width: 3em;
  margin-top: 4em;
}

/* END NAVIGATION */
.homePage {
  height: 80vh;
}

/* HOME */
/* POSITIONERING ANIMATIE HIER */

video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-top: 5em;
}
/* END HOME */


/* Wat is IPO */
.radius-foto {
  border-radius: 2em;
}

.IPO {
  height: fit-content;
}

.ipo-container {
 align-items: center;
}

.ipo-foto img {
  width: 100%;
}

.ipo-tekst {
  flex: 50%;
  margin-bottom: 3em;
  max-width: 550px;
}

.ipo-foto {
  flex: 50%;
}

.ipo-tekst h2 {
  margin: 1em 0;
  font-size: xx-large;
  font-weight: bolder;
}

.ipo-tekst p {
  line-height:1.2em;
}

hr {
  margin-top: 4em;
  background-color:red;
  border-color: red;
  border-radius: 10em;
}

.doelen-container {
  margin-top: 4em;
  align-items: center;
  flex-direction: row-reverse;
}

.ipo-tekst ul {
  line-height: 2em;
  list-style: url("https://img.icons8.com/ios-filled/25/000000/goal--v1.png");
  list-style-position: inside;
}

/* START PARTNERS */
.partners {
  height: fit-content;
  text-align: center;
}

.partners h2 {
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 2em;
  margin-top: 3em;
}

/* EHB */

.ehb-container {
  align-items: center;
}

.ehb-foto img {
  width: 100%;
}

.ehb-foto {
  flex: 50%;
}

.ehb-tekst {
  flex: 50%;
  margin-bottom: 3em;
  max-width: 550px;
  text-align: start;
  margin-top: 1.5em;
}

.ehb-tekst p {
  line-height:1.2em;
}

/* VUB */

.vub-container {
  margin-top: 4em;
  align-items: center;
  flex-direction: row-reverse;
}

.vub-tekst {
  text-align: start;
  margin-top: 1.5em;
  flex: 50%;
  max-width: 550px;
}

.vub-tekst p{
  line-height: 1.2em;
}

.vub-foto {
  flex: 50%;
}

.vub-foto img {
  width: 100%;
}
/* END PARTNERS */

/* END of second page */

/* RED-BLOCK leerlijn */
.red-block {
  background-color: red;
  text-align: center;
  padding: 2em;
}

.red-block h2 {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}
/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
  
}
@media screen and (min-width: 768px) {
  .ipo-container {
    display: flex;
  }

  .ipo-tekst {
    margin-right: 3em;
  }

  .margin-left {
    margin-left: 4em;
    margin-right: 0;
  }

  .doelen-container {
    display: flex;
   }

   .cards {
    display: flex;
    margin: 4em 2em;
  }

  /* .card {
    border-right: 10px white solid;
  } */

  .ehb-container {
    display: flex;
  }

  .ehb-tekst {
    margin-left: 4em;
  }

  .vub-container {
    display: flex;
  }

  .vub-tekst {
    margin-right: 4em;
  }

  .ehb-foto {
    flex: 50%;
    max-width: 350px;
  }

  .vub-foto {
    flex: 50;
    max-width: 350px;
  }
  
  .ehb-tekst {
    flex: 50%;
    margin-bottom: 2em;
    max-width: 550px;
    text-align: start;
    margin-top: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .homePage {
    height: 80vh;
    background: rgb(255, 255, 255);
  }
  
  video {
    width: 100%;
    height: 80%;
    margin-top: 5em;
  }

  .ehb-gif {
    opacity: 100%;
  }

  .wrapper {
    margin: 10em;
  }

  .wrapper-partner {
    margin-right: 15em;
    margin-left: 15em;
  }

  hr {
    margin-top: 7em;
  }

  .hr-margin-fases {
    margin-top: 4em;
  }

  .ipo-tekst h2 {
    margin: 1em 0;
    font-size: 50px;
  }

  .red-block {
    padding: 3em;
  }
  
  .red-block h2 {
    color: white;
    font-size: 50px;
    font-weight: bolder;
  }

  .cards {
    margin: 4em 8em;
  }

  .partners h2 {
    margin-bottom: 3em;
  }
}
/* END MEDIA QUERIES */

/* FASES 3 CARDS*/


.cards {
	padding-top: 3rem;
	padding-bottom: 2rem;
  height: fit-content;
}

.card {
  height: 250px;
  border-radius: 2em;
}

.card-body p {
  margin-top: 3em;
}

.cards p {
	text-align: center;
  font-weight: bold;
}

.cards .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	padding: 3rem 1.625rem 1.75rem 1.625rem;
	text-align: center;
}

.cards .card {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.card:hover {
  cursor: pointer;
}

.cards .card {
  transition: 0.5s;
}

.cards .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
  border: 2px black solid;
	background-color: white;
}

.cards .fas {
	color: #ff0000;
	font-size: 3rem;
	line-height: 6rem;
}

.cards .card-body {
	padding: 0;
}

.card-title {
	margin-top: 2rem;
  font-size: 24px;
  font-weight: bolder;
}

.hr-wrapper {
  margin: 0 10em;
}

.ehb-gif {
  position: absolute;
  left: 70px;
  height: 800px;
}

.vub-gif {
  position: absolute;
  right: 70px;
  height: 800px;
}

/* END THIRD PAGE */

/* Partners deel 2 */
  .partners2 {
    text-align: center;
    height: 100vh;
  }
  .partners2-grote-container img {
    width: 200px;
  }

  .partners2-grote-container {
    display: flex;
  }

  .UAB-logo {
    margin-bottom: 4em;
  }

  .UAB-logo img {
    width: 300px;
  }

  .ehb-list, .vub-list {
    text-align: start;
    width: fit-content;
    position: relative;
    left: 5em;
  }

  .vub-list {
    margin-top: 2em;
  }

  .wrapper3 {
    margin: 15em;
  }

  .partners2 ul {
    line-height: 2em;
    list-style-type: disc;
    list-style-position: inside;
  }

  .containers {
    width: 33%;
  }

  .arrow-foto img {
    position: relative;
    top: 8em;
    vertical-align: middle;
  }
/* END Partners 2 */

/* Back to top Button */
#myBtn {
  display: none;
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  z-index: 99;
  font-size: 22px;
  border: none;
  background-image: linear-gradient(red, white);
  color: white;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 100%;
}

#myBtn:hover {
  background-image: linear-gradient(red, red);
}