@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.topnav {
  display: flex;
  height: 4em;
  justify-content: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  overflow: hidden;
}

.topnav a {
  display: flex;
  color: red;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  right: 3em;
}

.topnav a:hover {
  background: rgba(0, 0, 0, 0.03);
  color: black;
}

.logo {
  position: absolute;
  margin-top: -55px;
  margin-left: 35px;
  z-index: 99;
  position: fixed;
}

.logo img {
  width: 3em;
}

/* END NAVIGATION */

/* START HOMEPAGE ZANI EN WAIL*/

.homePage {
  margin-top: 4em;
  align-content: center;
  height: 100vh;
  height: fit-content;
}

.container {
  position: relative;
  max-width: 1425px;
  margin: 0 auto;
  margin-bottom: 2em;
}

/* 
.container h1 {
  position: absolute;
  margin: 0 auto;
  font-size: xx-large;
  font-weight: 700;
  padding: 1em;
  background: rgba(255, 255, 255, 0.425);
} */
.red {
  color: red;
}

.background-image {
  position: absolute;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  /* padding: 0; */
}

/* .homePage img {
  width: 100%;
  flex: 1;
} */

/* END HOMEPAGE */

/* START SECOND PAGE NAWFAL EN ABDELLA */
.secondPage {
  background-color: white;
  height: 1080px;
}

.ipo {
  margin: 0 2em;
}

.ipo-text h1 {
  font-size: 50px;
  margin-bottom: 1em;
}

.ipo-red {
  color: red;
}

.ipo-text {
  text-align: center;
  color: black;
  margin-bottom: 3em;
  line-height: normal;
}

.womans img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 45px;
}

.woman1 img {
  width: 800px;
}

.womans {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.womans div {
  margin: 1em;
}

.doel-text h2 {
  font-size: 25px;
  width: 218px;
  margin: 0 auto;
}
.doel-text {
  text-align: center;
  color: black;
  margin: 2em auto;
}

.doel-list {
  text-align: left;
  padding-left: 1em;
  line-height: 30px;
  width: fit-content;
  margin: 2em auto;
}

.doel-list li {
  list-style-type:circle;
}
/* END SECOND PAGE */





/* START THIRD PAGE WAIL EN Zani */
.thirdPage {
  height: 100vh;
  height: fit-content;
  margin-top: 5em;
}

 .thirdPage h2 {
  position: absolute;
  background: rgba(255, 0, 0, 0.904);
  padding: 10px;
  margin-right: 2em;
  font-size: 30pt;
  font-weight: 700;
  text-align: left;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
  animation: pulse 2s infinite;
  
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

/* .fases {
  position: sticky;
  top: 0;
} */

.fotoFase1 {
  width: fit-content;
  margin: 2em;
  text-align: center;
}

.fotoFase1 img {
  width: 80%;
}

.fotoFase1 p {
  position: relative;
  left: 100px;
  bottom: 30px;
  font-weight: 700;
}

.tweedeFoto {
  width: 100%;
}

.tweedeParagraaf {
  color: white;
  position: relative;
  
}

/* END THIRD PAGE */



/* SCHEMA SETH */
.schemaPage {
  background-color: rgb(255, 81, 0);
  height: 30vh;
}

@media screen and (min-width: 480px) {
  /* FASE I */
  .thirdPage h2 {
    position: absolute;
    background: rgba(255, 0, 0, 0.904);
    padding: 30px;
    margin-right: 2em;
    font-size: 50pt;
    font-weight: 700;
    text-align: left;
  }
}

@media screen and (min-width: 700px) {
  .ipo-text p {
    margin: 0 auto;
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  /* FASE I */
  .thirdPage h2 {
    position: absolute;
    background: rgba(255, 0, 0, 0.904);
    padding: 50px;
    margin-right: 2em;
    font-size: 60pt;
    font-weight: 700;
    text-align: left;
  }

  .fotoFase1 img {
    width: 60%;

  }
  
  .fotoFase1 p {
    position: relative;
    left: 200px;
    bottom: 60px;
    font-size: 1.5em;
    font-weight: 700;
  }
  
/* images WAT IS IPO */
  .womans img {
    height: fit-content;
    object-fit: none;
    border-radius: 0;
  }


  .woman3 {
    flex: 1;
  }

  .woman2 {
    flex: 1;
  }
  .woman1 img {
  width: fit-content;
   max-width: 500px;

  }
  .woman2 img, .woman3 img {
  width: fit-content;
   max-width: 500px;
  }

  .womans div {
    margin: 0;
  }

  .twoPics{
    display: flex;
    align-items: center;
  }
  
  .womans {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  
  .womans div {
    margin: 1em;
  }

}

/* SETH SCHEMA */
/* Some positioning and ratios */
.sticky-container {
  max-width: 270px;
  position: relative;
  margin-left: 50%;
  margin-top: 15%;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5925926%;
  position: relative;
  transform: translate(-50%, -50%);
  width: 100%;
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Shadow behind the sticky note */
.sticky::before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 90%;
  left: 5px;
  height: 83%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content-ehb {
  background: linear-gradient(180deg,
      rgb(255, 187, 187) 0%,
      rgb(255, 187, 187) 12%,
      rgb(241, 170, 176) 75%,
      rgb(247, 190, 190) 100%);
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 1.5rem;

  clip-path: url(#stickyClip);
}

.sticky-content-vub {
  background: linear-gradient(180deg,
      rgb(187, 208, 255) 0%,
      rgb(187, 214, 255) 12%,
      rgb(170, 186, 241) 75%,
      rgb(190, 213, 247) 100%);
  width: 100%;
  height: 100%;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 1.5rem;

  clip-path: url(#stickyClip);
}


.betrokken-leertrajecten {
  font-size: 0.98rem;
}

/* Add responsiveness */
@media screen and (min-width: 640px) {
  .sticky:before {
    height: 79%;
    width: 90%;

  }

  .sticky-content {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .sticky:before {
    height: 75%;
    width: 90%;
  }

  .sticky-content {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .sticky:before {
    height: 73%;
    width: 90%;
  }

  .sticky-content {
    font-size: 1.875rem;
  }
}

